<h3>{{viewTitle}}</h3>

<form action="/student" method="POST" autocomplete="off">
  <input type="hidden" name="_id" value="{{student._id}}" />
  <div class="form-group">
    <label>Full Name</label>
    <input
      type="text"
      class="form-control"
      name="fullName"
      placeholder="full name"
      value="{{student.fullName}}"
    />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input
      type="text"
      class="form-control"
      name="email"
      placeholder="Email"
      value="{{student.email}}"
    />
  </div>
  <div class="form-group">
    <label>Mobile</label>
    <input
      type="text"
      class="form-control"
      name="mobile"
      placeholder="mobile"
      value="{{student.mobile}}"
    />
  </div>
  <div class="form-group">
    <label>City</label>
    <input
      type="text"
      class="form-control"
      name="city"
      placeholder="city"
      value="{{student.city}}"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/student/list" class="btn btn-secondary">View All</a>
</form>